# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.cproject
.directory
.project
Makefile
Makefile.Debug
Makefile.Release
debug/
description.dvi
description.log
QtEvoPic
doc/description.dvi
doc/description.log
